/mnt/nfs/homes/yzaoui/cursus42/LIBFTALL/libft5/.git
/mnt/nfs/homes/yzaoui/cursus42/LIBFTALL/libft4/.git
/mnt/nfs/homes/yzaoui/cursus42/LIBFTALL/libft3/.git
/mnt/nfs/homes/yzaoui/cursus42/LIBFTALL/libft2/.git
/mnt/nfs/homes/yzaoui/cursus42/LIBFTALL/libft/.git
/mnt/nfs/homes/yzaoui/cursus42/LIBFTALL/libftFIN/.git